<!DOCTYPE html>
<html>
<head>
 	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- testtesttest -->
	<link rel="stylesheet" type="text/css" href="../public/styles/main.css">
	<title>About Us</title>
</head>
<body>
<h1>About Us</h1>
<br><br>
<div class='holder'>
<ul>
<div class='row' id='allPhotos'>
	<div class='col-sm-4'>
		<li>
			<h3>Tyler Shockey<br>
				<img class='profile' src='tyler.png'><br>
				Tyler is the fearless leader, he helped pull us up by our bootstrap CDN's when we were feelingdown.<br>
				<a href='https://github.com/shockeyt'>Tyler's Github</a>
			</h3>
		</li>
	</div>
	<div class='col-sm-4'>
		<li>
			<h3>Bob Shanck<br>
				<img class='profile' src='bob.png'><br>
				This is Bob. He really loves SQL and fishing<br>
				<a href='https://github.com/bobbyschank'>Bob's Github</a>
			</h3>
		</li>
	</div>
	<div class='col-sm-4'>
		<li>
			<h3>Alex Creighton<br>
				<img class='profile' src='alex.jpg'><br>
				This is Alex, he writes great comments.<br>
				<a href='https://github.com/alexandroidd'>Alex's Github</a>
			</h3>
		</li>
	</div>
</ul>
</div>




</body>
</html>